* {
    padding: 0px;
    margin: 0px;
}
.main{
    width: 100%;
    height:100vh;
}


.nav {
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon {
    float: left;
    width: 200px;
    height: 70px;
}
.logo {
    font-size: 25px;
    padding: 20px;
    float: left;
    padding-top: 10px;
    font-size: arial;
}
.menu {
    width: 400px;
    height: 70px;
    float: left;
}
ul {
    display: flex;
    float: left;
    justify-content: center;
    text-align: center;
}
ul li {
    list-style: none;
    margin-left: 62px;
    margin: 27px;
    font-size: 18px;
}
ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}
ul li a:hover {
    color:blue;
    text-decoration: overline;

}
a {
    color: black;
    text-decoration: none;
}
